@model webCalculator.Models.ProductData

@{
    ViewData["Title"] = "Product Data";

}

<h1>@ViewData["Title"]</h1>

<p>Product CRUD.</p>
<div class="text-center">
    <form asp-controller="Projects" asp-action="proddta" method="post">
        <div class="form-group">
            <label>Product ID</label>
            <input type="number"
                   asp-for="ProdId"
                   placeholder="Product ID" />
        </div class="form-group">
        <div>
            <label>Product Title</label>
            <input type="text"
                   asp-for="ProdTitle"
                   placeholder="Product Title" />
        </div>
        <div class="form-group">
            <label>Product Description</label>
            <input type="text"
                   asp-for="ProdDescription"
                   placeholder="Product Description" />
        </div>
        <div class="form-group">
            <label>Product Quantity</label>
            <input type="number"
                   asp-for="ProdQuantity"
                   placeholder="Product Quantity" />
        </div>
        <div class="form-group">
            <label>Product Brand</label>
            <input type="text"
                   asp-for="ProdBrand"
                   placeholder="Product Brand" />
        </div>
        <div class="form-group">
            <label>Product Category</label>
            <input type="text"
                   asp-for="ProdCategory"
                   placeholder="Product Category" />
        </div>
        <div class="form-group">
            <label>Product Price</label>
            <input type="number"
                   asp-for="ProdPrice"
                   placeholder="Product Price" />
        </div>
        
        <br/>
        <button type="submit">Add Product</button>
    </form>
</div>
    
<table class="table">
    <tr>  
      <th>Product ID</th>  
      <th>Product Title</th>  
      <th>Product Description</th>  
      <th>Product Quantity</th>  
      <th>Product Brand</th>  
      <th>Product Category</th>  
      <th>Product Price</th>  
   </tr>  
   <tr>  
      <td>@ViewBag.prod_ID</td>  
      <td>@ViewBag.prod_Title</td>
      <td>@ViewBag.prod_Description</td>
      <td>@ViewBag.prod_Quantity</td>
      <td>@ViewBag.prod_Brand</td>
      <td>@ViewBag.prod_Category</td>
      <td>@ViewBag.prod_Price</td>
   </tr>  
</table>